<% include ./partials/header %>

    <div class="container">
        <div class="row">
            <h1 id="h1-header">Web Chat Project</h1>
            <div id="form-content">
                <form action="/chat" method="GET">

                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">View Web Chat</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

<% include ./partials/footer %>