<% include ./partials/header %>

    <div class="container">
        <div class="row">
            <h1 id="h1-header">Login</h1>
            <div id="form-content">
                <form action="/login" method="POST">

                    <!-- Username Field -->
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <!-- Password Field -->
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <!-- Login Button -->
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Login</button>
                    </div>

                </form>

                <!-- Go Back to Sign Up -->
                <div>
                    <a href="/register">Sign Up</a>
                </div>  
                     
            </div>
        </div>
    </div>

<% include ./partials/footer %>