<% include ./partials/header %>

    <div class="container">
        <div class="row">
            <h1 id="h1-header">Sign Up</h1>
            <div id="form-content">
                <form action="/register" method="POST">

                    <!-- Username Field -->
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="username" required>
                    </div>
                    <!-- Password Field -->
                    <div class="form-group">
                        <input id="password" class="form-control" type="password" name="password" placeholder="password" required>
                    </div>
                    <!-- Confirm Password Field -->
                    <div class="form-group">
                        <input id="password-confirm" class="form-control" type="password" name="password-confirm" placeholder="confirm password" oninput="check(this)" required>
                    </div>

                    <!-- Script Checks both password fields match -->
                    <script language='javascript' type='text/javascript'>
                        function check(input) {
                            //if passwords do not match
                            if (input.value != document.getElementById('password').value) { 
                                //Display an error message
                                input.setCustomValidity('Password Must Match');
                            } 
                            //else, passwords match
                            else {
                                // input is valid -- reset the error message
                                input.setCustomValidity('');
                            }
                        }
                    </script>

                    <!-- Sign Up Button -->
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                    </div>

                </form>
                
                <!-- Go Back to Home page -->
                <div>
                    <a href="/">Go To Home Page</a>
                </div>   

            </div>
        </div>
    </div>

<% include ./partials/footer %>